<div class="chat_messages">
	<ul class="list-unstyled">
		<li><b>007: </b>Hello everywhere!</li>
		<li><b>Super Mario: </b>Hello Bond</li>
		<li><b>007: </b>How are you?</li>
		<li><b>Super Mario: </b>I'm fine )</li>
	</ul>
</div>
<div class="chat_control">
	<div>
		<textarea class="form-control" rows="3"></textarea>
	</div>
	<div>
		<button id="chat_send" type="button" class="btn btn-primary">Send</button>
		<button id="chat_close" type="button" class="btn btn-warning">Close</button>
	</div>
</div>
